# server
Django
django-cors-headers
gymnasium
matplotlib
moviepy
networkx
numpy
pandas
scikit-image
scipy
seaborn
stable_baselines3
tabulate
tensorboard
tinydb
torch
tyro
wandb
astor
jsonpickle
pydantic
torch_geometric`1
spikingjelly
torch==2.2
torch_npu==2.2
mindspore