{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block scripts %}
<script src="{% static 'js/massive_network.js' %}"></script>
<script type="text/javascript">
    const FILE_MANAGER_URL = "{% url 'db manager' %}";
        const OUTPUT_URL = "{% url 'massive_network_stderr' %}";
</script>
{% endblock %}

{% block main %}
<div id="grid-container" class="stretch clear">
    <!-- 上层：运行配置容器 -->
    <div id="run-config" class="grid-item top-container">
        <form id="run-form">
            <div id="training-fields" class="run-fieldset">
                {% include 'elements/el_form_fields.html' with fields=form.training_fields protected=False %}
            </div>
            <div class="flex-break"></div>
            <button type="submit" id="run" class="btn btn-primary" data-cy="run-yt-button">Run</button>
        </form>
    </div>

    <!-- 下层：日志视图和指标视图 -->
    <div class="bottom-container">
        <!-- 日志视图容器 -->
        <div id="log-view" class="grid-item">
            <h3>训练日志</h3>
            <div class="inner logs-container" data-cy="training-logs-output"></div>
        </div>

        <!-- 指标视图容器 -->
        <div id="metric-view" class="grid-item">
            <h3>评估指标</h3>
            <div class="inner logs-container"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
<style>
    /* 网格容器的样式 */
    #grid-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    /* 上层容器样式 */
    .top-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: var(--dark);
        border-radius: 1rem;
        padding: calc(3 * var(--increment));
        margin: calc(3 * var(--increment));
        min-height: 0;
        overflow-y: auto;
    }

    /* 下层容器样式 */
    .bottom-container {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        height: 50%;
        overflow-y: auto;
    }

    /* 日志视图和指标视图容器样式 */
    .grid-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: var(--dark);
        border-radius: 1rem;
        padding: calc(3 * var(--increment));
        margin: calc(3 * var(--increment));
        min-width: 0;
        min-height: 0;
        overflow-y: auto;
    }

    /* 日志容器的滚动条样式 */
    .logs-container {
        overflow-y: auto;
    }

    /* 日志视图和指标视图内部容器的样式 */
    #log-view .inner,
    #metric-view .inner {
        font-family: 'Courier New';
        font-size: 12px;
        color: var(--text-superlight);
    }

    /* 运行按钮的样式 */
    #run {
        margin-top: var(--increment);
        width: 100%;
    }

    /* 运行表单的样式 */
    #run-form {
        min-height: 0;
        max-height: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow-y: auto;
    }

    /* 运行表单内部容器的样式 */
    #run-form>div {
        width: 100%;
        max-height: 100%;
        overflow-y: auto;
    }
</style>
{% endblock %}
