{% extends "item-manager.html" %}
{% load static %}
{% load tags %}

{% block scripts %}
<!-- 引入自定义的 JavaScript 文件 -->
<script src="{% static 'js/item_manager.js' %}"></script>
<script src="{% static 'js/networks.js' %}"></script>
<!-- 定义 JavaScript 变量 -->
<script type="text/javascript">
    const DB_MANAGER_URL = "{% url 'db manager' %}";
    const ITEM_TYPE = "{{item_type}}";
</script>
{% endblock %}

{% block items %}
<!-- 遍历 networks 列表，并包含网络元素 -->
{% for network in networks %}
{% include 'elements/el_network.html' with network=network show_icons=True %}
{% endfor %}
{% endblock %}

{% block dialogues %}
<!-- 遍历 dialogue_boxes 列表，并包含对话框元素 -->
{% for dialogue_info in dialogue_boxes %}
{% include 'elements/el_dialogue_center.html' with info=dialogue_info %}
{% endfor %}
{% endblock %}

{% block bottom-buttons %}
<!-- 删除选中的网络按钮 -->
<button id="delete-all" class="btn hidden">Delete selected</button>
<!-- 创建新的网络按钮 -->
<button id="create" class="btn btn-primary">New network</button>
{% endblock %}

{% block style %}
<style>
    /* 列表项的边框颜色 */
    .list-item {
        border-color: var(--text-light);
    }
</style>
{% endblock %}
