/* 动画化的三明治图标 */
#sandwich-icon {
    width: 30px;
    /* 图标宽度 */
    height: 22px;
    /* 图标高度 */
        margin-left: calc(3 * var(--increment));
        /* 左侧外边距 */
        margin-right: calc(3 * var(--increment));
        /* 右侧外边距 */
    position: relative;
    /* 相对定位 */
    -webkit-transform: rotate(0deg);
    /* 初始旋转角度 */
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    /* 过渡效果 */
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    /* 鼠标指针样式 */
}

/* 三明治图标的每一行 */
#sandwich-icon>span {
    display: block;
    /* 块级元素 */
    position: absolute;
    /* 绝对定位 */
    height: 4px;
    /* 高度 */
    width: 100%;
    /* 宽度 */
    background: var(--text-mid);
    /* 背景色 */
    border-radius: 9px;
    /* 圆角 */
    opacity: 1;
    /* 不透明度 */
    left: 0;
    /* 左侧对齐 */
    -webkit-transform: rotate(0deg);
    /* 初始旋转角度 */
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    /* 过渡效果 */
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

/* 第一行 */
#sandwich-icon span:nth-child(1) {
    top: 0px;
    /* 顶部位置 */
}

/* 第二行和第三行 */
#sandwich-icon span:nth-child(2),
#sandwich-icon span:nth-child(3) {
    top: 9px;
    /* 顶部位置 */
}

/* 第四行 */
#sandwich-icon span:nth-child(4) {
    top: 18px;
    /* 顶部位置 */
}

/* 当图标被点击时（添加 .open 类） */
#sandwich-icon.open span:nth-child(1) {
    top: 9px;
    /* 顶部位置 */
    width: 0%;
    /* 宽度为0 */
    left: 50%;
    /* 左侧位置 */
}

/* 第二行旋转45度 */
#sandwich-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* 第三行旋转-45度 */
#sandwich-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* 第四行隐藏 */
#sandwich-icon.open span:nth-child(4) {
    top: 9px;
    /* 顶部位置 */
    width: 0%;
    /* 宽度为0 */
    left: 50%;
    /* 左侧位置 */
}
